.container_button_create {
    text-align: center;
    margin: 20px;
}

.container_button_create > button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #F9E79F;
    color: #9A7D0A;
    cursor: pointer; 
    margin-right: 10px;
}

.container_playlists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container_playlists > div {
    margin: 10px;
    border: 1px solid black;
    width: 300px;
    text-align: center;
}

.title_playlist {
    text-align: center;
    border-bottom: 1px solid black;
}

.title_playlist > i {
    text-align: right;
    margin-right: 10px;
    cursor: pointer;
}

.songs_playlist {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.songs_playlist > i {
    cursor: pointer;
}

.status_playlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.status_playlist > i {
    margin-right: 10px;
}

.modal_background {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.modal_playlist_create {
    background: white;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

.form_playlist {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form_playlist > button {
    margin-top: 15px;
    background-color: #ABEBC6;
    color: #1D8348;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}